  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
<h3><%= t('application.editing_application') %></h3>
<div class="well">
<%= render 'form' %>
</div>
<div class="btn-group">
<%= link_to t('application.show'), @application, class: 'btn btn-default' %>
<%= link_to t('normal.back'), applications_path, class: 'btn btn-default' %>
</div>
</div>
</div>
